<div id="completed_tasks_section" class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Time Logs for Completed Tasks
    </h3>
  </div>
  <div class="border-t border-gray-200">
    <% if time_logs_completed.any? %>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            User
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Milestone
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Due Date
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Started
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Ended
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Duration
          </th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% time_log_users = owner ? project.time_logs.map(&:user).uniq : [current_user, project.user].compact %>
        <% time_log_users.each do |user| %>
          <% time_logs_completed.each do |milestone| %>
              <% next unless milestone.time_logs.where(user: user).any? %>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium text-indigo-600 truncate">
                    <%= user.full_name %>
                    <% if user.id == project.user_id %> 
                      <div class="'ml-4 inline-flex items-center px-1 py-1 border border-transparent text-sm leading-3 font-medium rounded-md text-white bg-green-600">
                        owner
                      </div>
                    <% end %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm font-medium text-indigo-600 truncate">
                    <%= milestone.title %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <%= milestone.due_date.strftime('%b %d, %Y %I:%M %p') %>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <ul>
                      <% milestone.time_logs.where(user:).pluck(:started_at).each do |log| %>
                        <li><%= log.strftime('%b %d, %Y %I:%M %p') %></li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <ul>
                      <% milestone.time_logs.where(user:).each do |log| %>
                        <li>
                          <%= log.ended_at&.strftime('%b %d, %Y %I:%M %p') || "-" %>
                          <% if log.manual_entry %>
                            <div class="relative group ml-4 inline-flex items-center px-1 py-1 border border-transparent text-sm leading-3 font-medium rounded-md text-white bg-green-600 cursor-pointer">
                              m
                              <div class="absolute left-1/2 transform -translate-x-1/2 mt-2 w-64 bg-white border border-gray-300 rounded shadow-lg p-2 text-gray-700 text-xs z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none">
                              <strong>Justification:</strong>
                              <div><%= log.description.presence || "No justification provided." %></div>
                              </div>
                            </div>
                            <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <% hours_spend = milestone.time_logs.where(user:).pluck(:hours_spent).sum %>
                  <%= hours_spend > 0 ? "#{hours_spend} hours" : 'Less than an hour' %>
                </td>
              </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="px-4 py-4 text-center text-gray-500">
        No time logs found. Start tracking time for a milestone above.
      </div>
    <% end %>
  </div>
</div> 