<!-- app/views/timelogs/index.html.erb -->
<h1 class="text-2xl font-bold mb-4">Time Logs</h1>

<div class="flex space-x-4 mb-6">
  <%= form_with url: filter_time_logs_path, method: :get, data: { turbo: true }, class: "flex space-x-2" do %>
    <div>
      <%= select_tag :project_id, options_from_collection_for_select(@projects, :id, :name, @selected_project&.id), include_blank: "All Projects", class: "select select-bordered" %>
    </div>
    <div>
      <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :first_name, @selected_user&.id), include_blank: "All Users", class: "select select-bordered" %>
    </div>
    <div>
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

  <%= render "time_logs/filter_results",
               milestones_pending_confirmation: @milestones_pending_confirmation,
               time_logs_completed: @time_logs_completed,
               time_logs_manual: @time_logs_manual,
               selected_user: @selected_user,
               selected_project: @selected_project,
               selected_date: @selected_date %>
