<% if user_signed_in? && current_user.selected_project_id.present? && session[:progress_milestone_id].present? %>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <% selected_project = Project.find(current_user.selected_project_id) %>
        <% milestone = Milestone.find_by(id: session[:progress_milestone_id]) %>
        <% active_log = selected_project.time_logs.in_progress.find_by(milestone_id: milestone.id, user_id: current_user.id)%>
        <% total_seconds = selected_project.time_logs.where(user: current_user, milestone_id: milestone.id).where.not(status: 'in_progress').sum(:hours_spent) * 3600 + ((active_log && active_log.started_at) ? (Time.zone.now - active_log.started_at).to_i : 0) %>
        <% hours = total_seconds / 3600 %>
        <% minutes = (total_seconds % 3600) / 60 %>
        <% seconds = total_seconds % 60 %>
        <% if milestone && active_log %>
            <div class="flex flex-col w-full bg-green-50 py-2 px-4 border-t border-green-100" data-controller="timer"
                 data-timer-started-at-value="<%= active_log&.started_at&.to_i || 0 %>"
                 data-timer-used-hours-value="<%= selected_project.time_logs.where(user: current_user, milestone_id: milestone.id).where.not(status: 'in_progress').sum(:hours_spent) %>"
                 data-timer-now-value="<%= Time.zone.now.to_i %>">
                <div class="flex justify-between items-center">
                  <span class="text-sm font-medium text-green-700"><b>Milestone in progress:</b> <%= milestone.title %></span>
                  <span class="ml-4 text-sm font-medium text-green-700" data-timer-target="timer">
                    <%= "%02d:%02d:%02d" % [hours, minutes, seconds] %>
                  </span>
                  <div class="flex items-center ml-4">
                    <%= button_to stop_tracking_time_logs_path(selected_project, milestone_id: milestone.id), method: :post, class: "px-3 py-1 bg-red-600 text-white rounded hover:bg-red-700", form: { data: { turbo: false, timer_target: "stopButton", action: "click->timer#stopTimer" } } do %>
                        ⏹️ Stop
                    <% end %>
                    <button type="button" data-timer-target="playButton" class="px-3 py-1 bg-green-600 text-white rounded hover:bg-green-700" data-action="click->timer#startTimer">
                      ▶️ Play
                    </button>
                  </div>
                </div>
            </div>
        <% end %>
    </div>    
<% end %>