<%# Shows track record for a user, role-aware. %>
<ul class="list-disc pl-5 text-sm text-gray-700">
  <% if user_role == :mentor %>
    <% user.other_party_agreements.completed.each do |agreement| %>
      <li>Mentored <%= agreement.initiator.full_name %> in <%= agreement.project&.name || 'a project' %> (<%= agreement.created_at.strftime('%Y') %>)</li>
    <% end %>
  <% else %>
    <% user.projects.each do |project| %>
      <li><strong><%= project.name %></strong> - <%= project.stage.capitalize %> (<%= project.created_at.strftime('%Y') %>)</li>
    <% end %>
  <% end %>
</ul>
