<%# Homepage - FlukeBase %>
<%# Theme-adaptive editorial design using DaisyUI semantic classes %>

<div class="bg-base-100">
  <%# Hero Section %>
  <%= render Homepage::HeroComponent.new(
    active_agreements_count: @stats[:active_agreements],
    signed_in: user_signed_in?
  ) %>

  <%# Platform Statistics %>
  <%= render Homepage::StatsComponent.new(stats: @stats) %>

  <%# Core Features %>
  <%= render Homepage::FeaturesComponent.new %>

  <%# How It Works %>
  <%= render Homepage::HowItWorksComponent.new %>

  <%# Tech Stack %>
  <%= render Homepage::TechStackComponent.new %>

  <%# FAQ Section %>
  <%= render "faq_section" %>

  <%# Final CTA %>
  <%= render Homepage::CtaComponent.new(signed_in: user_signed_in?) %>
</div>
