<div class="<%= responsive_classes %>">
  <table class="table table-zebra <%= table_classes %>">
    <thead>
      <tr>
        <% columns.each do |column| %>
          <th scope="col" class="<%= column[:th_class] %>">
            <%= column[:label] %>
          </th>
        <% end %>
        <th scope="col" class="relative <%= actions_th_class %>">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody class="<%= tbody_class %>" id="<%= tbody_id %>">
      <% agreements.each do |agreement| %>
        <%= render "agreement_index_row", agreement: %>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Pagination using Pagy (Turbo frame navigation) -->
<% if local_assigns[:pagy] && pagy.pages > 1 %>
  <div class="px-6 py-3">
    <%= render partial: "shared/pagination", locals: { pagy:, remote: true } %>
  </div>
<% end %>
