<% if previous_agreement.present? %>
  <% changes = {} %>
<%# List the fields you want to track %>
  <% [
    :hourly_rate, :equity_percentage, :weekly_hours, :start_date, :end_date, :payment_type, :tasks, :terms, :milestone_ids
  ].each do |field| %>
    <% prev = previous_agreement.send(field) %>
    <% curr = agreement.send(field) %>
    <% if prev != curr %>
      <% changes[field] = [ prev, curr ] %>
    <% end %>
  <% end %>

  <% if changes.any? %>
    <div class="my-4 p-4 bg-info/10 border-l-4 border-info rounded">
      <h4 class="font-semibold text-info mb-2">Changes in this counter offer:</h4>
      <ul class="list-disc list-inside text-sm">
        <% changes.each do |field, (prev, curr)| %>
          <% if field == :milestone_ids %>
            <% prev_names = Milestone.where(id: prev).pluck(:title) %>
            <% curr_names = Milestone.where(id: curr).pluck(:title) %>
            <li class="flex align-start">
              <span class="font-medium capitalize me-2">Milestones:</span>
              <span class="line-through text-error">
                <% if prev_names.any? %>
                  <ol class="list-decimal list-inside">
                    <% prev_names.each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                  </ol>
                <% else %>
                  none
                <% end %>
              </span>
              <span class="mx-2 text-base-content/50">&rarr;</span>
              <span class="text-success font-semibold">
                <% if curr_names.any? %>
                  <ol class="list-decimal list-inside">
                    <% curr_names.each do |name| %>
                      <li><%= name %></li>
                    <% end %>
                  </ol>
                <% else %>
                  none
                <% end %>
              </span>
            </li>
          <% else %>
            <li>
              <span class="font-medium capitalize"><%= field.to_s.humanize %>:</span>
              <span class="line-through text-error"><%= prev.presence || "none" %></span>
              <span class="mx-2 text-base-content/50">&rarr;</span>
              <span class="text-success font-semibold"><%= curr.presence || "none" %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="my-4 p-4 bg-base-200 border-l-4 border-base-300 rounded text-base-content/80 text-sm">
      No changes in this counter offer.
    </div>
  <% end %>
<% end %>
