<div id="<%= "#{dom_id(agreement)}_actions" %>">
  <% presenter = present(agreement) %>
  <%= link_to "View", agreement, class: "link link-primary", data: { turbo_frame: "_top" } %>

  <% if agreement.pending? %>
    <% if agreement.initiator&.id == current_user.id %>
      <%= link_to "Edit", edit_agreement_path(agreement), class: "ml-3 link link-primary", data: { turbo_frame: "_top" } %>
      <%= button_to "Cancel", cancel_agreement_path(agreement),
          method: :patch,
          class: "ml-3 link link-error",
          params: { context: "index" },
          data: {
            turbo_confirm: "Are you sure you want to cancel this agreement?"
          } %>
    <% end %>
    <% if presenter.can_be_accepted_by?(current_user) %>
      <%= button_to "Accept", accept_agreement_path(agreement),
          method: :patch,
          class: "ml-2 btn btn-success btn-xs",
          params: { context: "index" },
          data: {
            turbo_confirm: "Are you sure you want to accept this agreement?"
          } %>
    <% end %>
    <% if presenter.can_be_rejected_by?(current_user) %>
      <%= button_to "Decline", reject_agreement_path(agreement),
          method: :patch,
          class: "ml-2 btn btn-ghost btn-xs",
          params: { context: "index" },
          data: {
            turbo_confirm: "Are you sure you want to reject this agreement?"
          } %>
    <% end %>
  <% elsif agreement.active? && presenter.can_be_completed_by?(current_user) %>
    <%= button_to "Mark as Completed", complete_agreement_path(agreement),
        method: :patch,
        class: "ml-2 btn btn-info btn-xs",
        params: { context: "index" },
        data: {
          turbo_confirm: "Are you sure you want to mark this agreement as completed?"
        } %>
  <% end %>
</div>
