<!DOCTYPE html>
<html lang="en" data-theme="nord">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "Error" %> - FlukeBase</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
</head>

<body class="bg-base-200">
  <%= yield %>
</body>
</html>
